%h1 Project Listings

%div

  - @projects.each do |project|
    %div.col-sm-4.col-md-3
      %div.thumbnail
        =image_tag "balloon.jpg"
        %div.caption
          %h2 #{project.category}
      %td= link_to "#{project.name}", project_path(project.id)
      %td= project.organization
      %td= project.blurb
      %td= project.nonprofit_mission
      %td= project.description
      %td= project.deadline
      %td= project.status
      %td= project.budget

%br

