%h1#listing-title Project Listings

%div#proj-container

  - @projects.each do |project|
    %div.col-sm-4.col-md-3.col-lg-3#project
      %div.thumbnail
        - if thumbnail_exist?(project.id)
		  = image_tag "projects/#{project.id}/thumb.jpg"
		- else
		  = image_tag "balloon.jpg"
        %div.caption
          %h2= project.category
          %h3{align: "center"}= link_to project.name, project_path(project.id)
          %h4= project.organization
          %p= project.description
          %p= "Budget: $#{project.budget}"

%br

