%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Category:
  = @project.category
%p
  %b Location:
  = @project.location
%p
  %b Organization:
  = @project.organization
%p
  %b Blurb:
  = @project.blurb
%p
  %b Nonprofit mission:
  = @project.nonprofit_mission
%p
  %b Description:
  = @project.description
%p
  %b Deadline:
  = @project.deadline
%p
  %b Status:
  = @project.status
%p
  %b Budget:
  = @project.created_at

\|
= link_to 'Back', projects_path
