%p#notice= notice

%h1#name
  = @project.name

%h3#organization
  = link_to @project.organization, project_path(@project.id)

%div.col-md-8.col-md-offset-2#project-div

  %div.row#pic-n-info
    %div.col-md-8#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-4.info-block#top-block
      %h5.info-title
        Category
      %h2.info-detail
        = @project.category
      %h5.info-title
        Location
      %h2.info-detail
        = @project.location
      %h5.info-title
        Status
      %h2.info-detail
        = @project.status
      %h5.info-title
        Budget
      %h2.info-detail
        = "$ #{@project.budget}"
      %div#join
        = button_to "Join This Project", project_path(@project.id), :class => "btn btn-primary btn-lg"

    %div.col-md-4.info-block
      %h5 The Nonprofit
 
  %p
    %b Blurb:
    = @project.blurb
  %p
    %b Nonprofit mission:
    = @project.nonprofit_mission
  %p
    %b Description:
    = @project.description 
  %p
    %b Deadline:
    = @project.deadline
  

  \|
  = link_to 'Back', projects_path
