%p#notice= notice

%h1#name
  = @project.name

%h2#organization
  = link_to @project.organization, project_path(@project.id)

%div.col-md-8.col-md-offset-2#project-div

  %div.row
    %div.col-md-8#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.row
      %div.col-md-4#info-block
        %h5
          Category
        %h3
          = @project.category
        %h5
          Location
        %h3
          = @project.location
        %h5
          Status
        %h3
          = @project.status
        %h5
          Budget
        %h3
          = @project.budget
        = button_to "Join This Project", project_path(@project.id), :id => "join", :class => "btn-primary"
 
  %p
    %b Blurb:
    = @project.blurb
  %p
    %b Nonprofit mission:
    = @project.nonprofit_mission
  %p
    %b Description:
    = @project.description 
  %p
    %b Deadline:
    = @project.deadline
  

  \|
  = link_to 'Back', projects_path
