%p#notice= notice

%p
  %b Name:
  = @nonprofit.user.name
%p
  %b Email: 
  = @nonprofit.user.email
%p
  %b Type:
  = @nonprofit.user.profilable_type
%p
  %b Profilable ID:
  = @nonprofit.user.profilable_id
%p
  %b User ID:
  = @nonprofit.user.id
%p
  %b Username:
  = @nonprofit.user.username
