!!! 5
%html
  %head
    %title AMASS Media
    = javascript_include_tag 'application' 
    = stylesheet_link_tag 'application'
   
    = csrf_meta_tags

  %body
    
    %div.row#top-div
      %div.col-md-6.col-sm-7#AMASS AMASS MEDIA
      %div{:class => "col-md-6", :id => "description"}  connecting nonprofits with talented filmmakers.
        
      
    %nav.navbar.navbar-inverse

      .navbar-header#navbar-items
        %ul.nav.navbar-nav
          %li= link_to 'How It Works', root_path
          %li= link_to 'Browse Projects', projects_path
          %li= link_to 'Browse Filmmakers', root_path
      .navbar-header.pull-right#login-div
        %ul.nav.navbar-nav.navbar-right{role: "navigation"}
          - if signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", role: "button"}
                Welcome, #{current_user.name}
                %b.caret
              %ul.dropdown-menu{"aria-labelledby" => "dLabel", role: "menu"}
                %li{role: "presentation"}
                  %a{href: "#", role: "menuitem", tabindex: "-1"} Profile
                %li
                  %a{href: "#", role: "menuitem", tabindex: "-1"}     Settings
                %li.divider{role: "presentation"}
                %li{role: "presentation"}
                  %a{href: "/signout", role: "menuitem", tabindex: "-1"} Logout
          - else
            %div.btn.btn-success#login= link_to 'Login', signin_path,:method =>:get
            %div.btn.btn-success#login= link_to 'Sign Up', signup_path, :method =>:get
           
         
              
    #main
      = yield
