!!! 5
%html
  %head
    %title AMASS Media
    = javascript_include_tag 'application' 
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'browseprojects'
    = stylesheet_link_tag 'viewproject'
    = csrf_meta_tags

  %body#blah
    %nav.navbar.navbar-inverse#nav-div

      .navbar-header#navbar-items
        %ul.nav.navbar-nav
          %li#logo= link_to 'AMASS Media', root_path
          %li.nav-items= link_to 'How It Works', root_path
          %li.nav-items= link_to 'Browse Projects', projects_path
          %li.nav-items= link_to 'Browse Filmmakers', root_path
      .navbar-header.pull-right#login-div
        %ul.nav.navbar-nav.navbar-right{role: "navigation"}
          - if user_signed_in?
            %li.dropdown.clearfix
              %a.dropdown-toggle#welcome-user{"data-toggle" => "dropdown", href: "#", role: "button"}
                Welcome, #{current_user.name}
                %b.caret
              %ul.dropdown-menu{"aria-labelledby" => "dLabel", role: "menu"}
                %li{role: "presentation"}
                  %a.drop-items{href: "#", role: "menuitem", tabindex: "-1"} Profile
                %li
                  %a.drop-items{href: "#", role: "menuitem", tabindex: "-1"}     Settings
                %li.divider{role: "presentation"}
                %li{role: "presentation"}
                  %a.drop-items{role: "menuitem", tabindex: "-1"}= link_to 'Logout', destroy_user_session_path, :method => 'delete'
          - else
            %div.btn.btn-success#login= link_to 'Login', new_user_session_path,:method =>:get
            %div.btn.btn-success#login= link_to 'Sign Up', new_user_registration_path, :method =>:get
           
         
              
    #main
      - if flash[:notice]
        .alert.alert-success.alert-dismissable.text-center
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
          = flash[:notice]
      - if flash[:error]
        .alert.alert-danger.alert-dismissable.text-center
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
          = flash[:error]
      - if flash[:alert]
        .alert.alert-warning.alert-dismissable.text-center
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
          = flash[:alert]
      = yield
